.top-line {
	background-color: #222;
	position: relative;
	height: 60px;
}

.top-line .logo {
    padding-top: 7px;
	padding-left: 25px;
	left: 0;
	display: inline-block;
	position: absolute;
	line-height: 55px;
}

.main-menu {
	padding: 0 130px;
	width: 100%;
	text-align: center;
}

.main-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main-menu ul li {
	display: inline-block;
}

.main-menu ul li.active a {
	color: #fff;
}

.main-menu ul li:hover a {
	color: #f5f5f5;
}

.main-menu ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 15px;
	line-height: 60px;
	display: block;
	transition: color .25s ease, background-color .25s ease;
}
.mobile-menu-btn {
	color: #fff;
	text-align: center;
	line-height: 65px;
	font-weight: bold;
	text-transform: uppercase;
	display: none;
	white-space: nowrap;
}

.mobile-menu {
	display: none;
	background-color: #2a2a2a;
	border-top: #343434;
}

.mobile-menu .top-menu {
	display: block;
}

.mobile-menu .top-menu ul {
	padding: 0;
}

.mobile-menu .top-menu ul li {
	display: block;
	text-align: center;
}

.mobile-menu .top-menu ul li:hover {
	background-color: #343434;
}

.mobile-menu .top-menu ul li a {
	padding: 0;
	line-height: 40px;
}

.mobile-menu .top-menu ul li a:hover {
	text-decoration: none;
}
.login {
	position: absolute;
	padding-right: 25px;
	padding-left: 10px;
	right: 0;
	color: #fff;
	line-height: 55px;
	cursor: pointer;
	transition: color .25s ease;
	font-size: 14px;
}

.login i {
	padding-right: 10px;
	font-size: 20px;
}
@media (max-width: 575.98px) {
	.top-line .logo {
		padding-left: 5px;
	}

	.top-line .login {
		display: none;
	}

	.top-line .mobile-menu-btn {
		padding-right: 5px;
		display: block;
		text-align: right;
		font-size: 20px;
		line-height: 55px;
	}

	.main-menu {
		padding: 0 30px;
	}
}
@media (max-width: 1199.98px) {
	.main-menu {
		display: none;
	}

	.mobile-menu-btn {
		display: block;
	}
}