<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <File name="appLog" filename="${basePath}/app.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="appLog" />
        </Root>
    </Loggers>
</Configuration>